@charset "UTF-8";
/* Custom styles for ArchivesSpace Public UI */

#header>.row {
  height: auto;
  border-bottom: 0;
  padding:0 0 10px 0;
  margin:10px 10px 0 0;
}
a, a:hover, a:active {
    color: #035E8C;
}
.app-title{
  color: #000;
  font-size: 34px;
}
.app-title,a:hover{
  color: #000;
  text-decoration: none;
}
.top-bar {
    background: #fefefe !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
h1, h2, h3, h4, h5, h6 {
  color: #a40404;
  margin-top: 5px;
  text-shadow: none;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    background-color: #a40404;
    border-color: #a40404;
}
.pagination>li>a:hover{
	background-color: #b61332;
	color: #fff;
}
.btn-primary {
    background-color: #a40404;
    border-color: #a40404;
}
.btn-primary:hover {
    background-color: #b61332;
    border-color: #b61332;
}
.record-type-badge.resource {
    color: #b61332;
    border-color: #b61332;
}
.panel-footer {
    padding: 10px 45px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-footer .logo{
	height: 50px;
}

#sidebar .search .form-group {
  width: 100%;
}

#sidebar .search .form-group #filter_q0 {
  width: 100%;
}

.nav-pills > li.disabled a, .nav-pills > li.disabled a:hover {
  background: #ccc;
  color: #aaa;
}
