@charset "UTF-8";
/* Custom styles for ArchivesSpace Public UI */

#header>.row {
    height: auto;
    border-bottom: 0;
    padding:0 0 10px 0;
    margin:10px 10px 0 0;
}

#header .website-feedback-label {
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.website-feedback{
	margin: 5px 0;
}

#header .website-feedback-link:hover {
    text-decoration: underline;
}

.navbar .navbar-header .navbar-toggle {
	background: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-toggle {
	float: left;
	padding: 8px 6px;
	margin-left: 10px;
}
/* Custom pull-right that only occurs at medium or higher, see
   https://stackoverflow.com/a/19405414 */
@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
}

.vh-30{
    min-height: 30vh;
}

.search-block{
    min-height: 230px;
    position: relative;
    padding: 30px;
    margin-bottom: 25px;
    background:  url('../images/letter.JPG') no-repeat fixed top rgba(247, 247, 247, 1);
}
.search-box {
    padding: 15px;
    text-align: left;
    color: #000;
    opacity: .95;
    border: 1px solid #eee;
    background: #fff none repeat scroll 0 0;
}
p, a, l a, div a, .app-title {
    font-weight: 500;
}
.panel-footer a,.panel-footer a:hover,.panel-footer a:active {
    color: #f0ad4e;
}
.panel-footer a:hover {
    text-decoration: underline;
}
.app-title{
    color: #000;
    font-size: 34px;
}
.app-title, a:hover {
    color: #000;
    text-decoration: none;
}
.top-bar {
    background: #555 !important;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
.navbar {
    position: relative;
    min-height: 35px;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 13px !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f0ad4e;
}
.umd-search {
 	height: 24px;
}
.umd-search-btn {
    background-color: #a40404;
    border-color: #a40404;
	padding-top: 2px;
	height: 24px;
	color: #fff;
}
.navbar-form {
	margin: 3px 5px;
	float: right;

}
h1, h2, h3, h4, h5, h6 {
    color: #a40404;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
}
.bg-grey {
    background: #f7f7f7;
    padding: 15px;
    margin: 0 10px 10px 0;
}
.margin-top-30 {
    margin-top: 30px;
}
.panel-footer h2, .panel-footer h3, .panel-footer h4 {
    color: #fff;
    background: none;
    text-shadow: none;
}
.panel-footer ul{
    margin-left: -25px;
}
.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #a40404;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    background-color: #a40404;
    border-color: #a40404;
}
.pagination>li>a:hover {
    background-color: #b61332;
    color: #fff;
}
.btn-primary {
    background-color: #a40404;
    border-color: #a40404;
}
.btn-primary:hover {
    background-color: #b61332;
    border-color: #b61332;
}
.record-type-badge.resource {
    color: #b61332;
    border-color: #b61332;
}
.panel-footer {
    color: #fff;
    background: #333;
    padding: 20px 0 30px;
}

/* Sticky footer */

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.site-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/* end of sticky footer*/

@media (min-width: 992px){
.app-title {
    font-size: 28px;
}
}

#sidebar .search .form-group {
    width: 100%;
}

#sidebar .search .form-group #filter_q0 {
    width: 100%;
}

.nav-pills > li.disabled a, .nav-pills > li.disabled a:hover {
    background: #ccc;
    color: #aaa;
}
.navbar-nav>li>form button {
    color: #004f6f;
}

@media (max-width: 767px) {
  #navigation.container {
  margin-left: -1px;
  margin-right: -1px;
}
}
@media (min-width: 768px){
.website-feedback {
	float: right;
}
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.app-title {
    font-size: 30px;
}
}

@media (min-width:480px){
.visible-xxs{
    display: none !important;
}
}

@media (max-width: 479px){
.app-title {
    font-size: 22px;
}
.hidden-xxs{
    display: none !important;
}
.visible-xxs{
    display: block !important;
}
}

.largetree-container .expandme > .glyphicon-chevron-right:before {
    content: "\002b"
}

.largetree-container .expandme > .glyphicon-chevron-right.expanded:before {
    content: "\2212"
}

.largetree-container .expandme-icon.expanded {
    transform: none;
    transition: none;
}

.request_instructions {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}
