<div class="panel-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="headline">
          <h2>Useful Links</h2>
        </div>
        <ul>
          <li><a href="//www.lib.umd.edu/special">Special Collections and University Archives</a></li>
          <li><a href="//catalog.umd.edu/">Catalog</a></li>
          <li><a href="//digital.lib.umd.edu/">Digital Collections </a></li>
          <li><a href="//www.lib.umd.edu/special/policies/duplication">Duplication Policy </a></li>
          <li><a href="http://lib.guides.umd.edu/researchusingprimarysources">Research Using Primary Sources </a></li>
        </ul>
        <br/>
        <h3>About Our Archival Collections</h3>
        <p>The University of Maryland Libraries collects and preserves archival and manuscript collections of groups and individuals. This database provides descriptions of many of these collections. Use this website to explore collections and request material for use in our reading room.
        </p>
        <p><a href="https://umd.edu/web-accessibility" target="_blank" title="Info about web accessibility at UMD">Web Accessibility</a></p>
      </div>

      <div class="col-md-7 col-md-xs-12">
        <div class="headline">
          <h2>Contact Us</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><a href="http://www.lib.umd.edu/special"> Special Collections and University Archives</a><br/></p>
            <address> Maryland Room <br/>
              <a href="//www.lib.umd.edu/hornbake">Hornbake Library</a><br/>
              4130 Campus Drive<br>
              University of Maryland,<br/>
              College Park, MD 20742
            </address>
            <p><a href="tel:+301-405-9212">301-405-9212</a><br/>
            <a href="//www.lib.umd.edu/special/contact/home">Email</a><br/>
            <a href="//www.lib.umd.edu/hours/weekly#branch=special">Hours</a></p>
          </div>
          <div class="col-md-6">
            <p><a href="https://www.lib.umd.edu/scpa">Special Collections in Performing Arts</a><br/>
            <a href="//www.lib.umd.edu/ipam">International Piano Archives at Maryland</a>
            </p>
            <address>
              <a href="//www.lib.umd.edu/mspal">Michelle Smith Performing Arts Library</a><br/>
              8270 Alumni Drive <br/>
              College Park, MD 20742<br/><br/>

              <a href="tel:+301-405-9217">301-405-9217</a> <br/>
              <a href="//www.lib.umd.edu/scpa/contact">Email</a><br/>
              <a href="//www.lib.umd.edu/hours#branch=mspal">Hours</a>
            </address>
          </div>
        </div>
        <div class="row margin-top-15">
          <div class="col-md-12">
            <p><br/>We proudly participate in development of ArchivesSpace, which powers this website. If you would like to learn more about this product and its development, check out  <a href="http://archivesspace.org/" target="_blank">archivesspace.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
