<div class="panel-footer">
	 <div class="row">
    <div class="col-md-4">
		<p>© 2017 University Libraries, University of Maryland.</p>
	</div>
     <div class="col-md-5">
<p class="footer-socials"><a href="/about/privacy">Privacy Policy</a> | <a href="/feedback">Website Feedback</a> | <a href="https://umd.edu/web-accessibility" target="_blank">Web Accessibility</a></p>
    </div>
	 <div class="col-md-3 col-sm-3 col-xs-3"><img class="logo" src="<%= asset_url(AppConfig[:pui_branding_img]) %>" alt="Archives Spaces logo"></div>
   </div>
</div>