<div class="panel-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="headline">
          <h2>Useful Links</h2>
        </div>
        <ul>
          <li><a href="https://www.lib.umd.edu/collections/special">Special Collections and University Archives</a></li>
          <li><a href="https://catalog.umd.edu/">Catalog</a></li>
          <li><a href="https://digital.lib.umd.edu/">Digital Collections </a></li>
          <li><a href="https://www.lib.umd.edu/find/request-digital/special-collections">Duplication Policy </a></li>
          <li><a href="http://lib.guides.umd.edu/researchusingprimarysources">Research Using Primary Sources </a></li>
        </ul>
        <br/>

				<div>We proudly participate in development of ArchivesSpace, which powers this website. Learn more about this product and its development at <a href="http://archivesspace.org" target="_blank">archivesspace.org</a>
				</div>
				<div class="margin-top-30">
				<a href="https://umd.edu/web-accessibility" target="_blank" title="Info about web accessibility at UMD">Web Accessibility</a> | <a href="<%= AppConfig[:website_feedback_url] %>" target="_blank">Website Feedback</a>
				</div>
      </div>

      <div class="col-md-7 col-md-xs-12">
        <div class="headline">
          <h2>Contact Us</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><a href="https://www.lib.umd.edu/collections/special"> Special Collections and University Archives</a><br/></p>
            <address> Maryland Room <br/>
              <a href="https://www.lib.umd.edu/visit/libraries/hornbake">Hornbake Library</a><br/>
              4130 Campus Drive<br>
              University of Maryland,<br/>
              College Park, MD 20742
            </address>
            <p><a href="tel:+301-405-9212">301-405-9212</a><br/>
            <a href="https://www.lib.umd.edu/collections/special/contact">Email</a><br/>
            <a href="https://umd.libcal.com/hours">Hours</a></p>
          </div>
          <div class="col-md-6">
            <p><a href="https://www.lib.umd.edu/collections/special/performing-arts">Special Collections in Performing Arts</a><br/>
            <a href="https://www.lib.umd.edu/collections/special/performing-arts/piano">International Piano Archives at Maryland</a>
            </p>
            <address>
              Lowens Room<br/>
              <a href="https://www.lib.umd.edu/visit/libraries/mspal">Michelle Smith Performing Arts Library</a><br/>
              8270 Alumni Drive <br/>
              College Park, MD 20742<br/><br/>

              <a href="tel:+301-405-9217">301-405-9217</a> <br/>
              <a href="https://www.lib.umd.edu/collections/special/contact">Email</a><br/>
              <a href="https://umd.libcal.com/hours">Hours</a>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
