<div class="search-block">
  <div class="search-box">
    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    } %>
  </div>
</div>

<div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
		  <div class="headline">
			<h3>About our archival collections</h3>
          </div>
          <div class="bg-grey">
          <p>The University of Maryland Libraries collects and preserves archival and manuscript collections of groups and individuals. This database provides descriptions of many of these collections. Use this website to explore collections and request material for use from:</p>
          <ul>
            <li><a href="https://www.lib.umd.edu/collections/special">Special Collections and University Archives</a></li>
            <li><a href="https://www.lib.umd.edu/collections/special/performing-arts">Special Collections in Performing Arts</a></li>
          </ul>
          <p>Learn more about our efforts to correct <a href="https://www.lib.umd.edu/find/request-special-collections/harmful-language-finding-aids">harmful language in finding aids</a>.</p>
		  </div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
		   <div class="headline">
			    <h3>Requesting material</h3>
        </div>
        <div class="bg-grey">
          <p>Special Collections are non-circulating and can be accessed in-person in the designated <a href="https://www.lib.umd.edu/visit/special">reading room</a>. If you cannot visit in-person, we provide <a href="https://www.lib.umd.edu/find/request-digital/special-collections">duplication services</a> for most Special Collections materials.</p>

          <p>To submit a request for onsite use or duplication:</p>

          <ul>
              <li>Select <b>Request Box</b> at the top of the record.</li>
              <li>Review the box contents and select <b>Request Box</b> again.</li>
              <li>Sign in or register for a <a href="https://aeon.lib.umd.edu/">Special Collections Account</a>.</li>
              <li>To request onsite use, choose the date you plan to visit.</li>
              <li>To request duplication, choose <b>Request Copy</b> and complete the duplication order form.</li>
              <li>Select <b>Submit Information</b> to complete your request.</li>
          </ul>
          <p>Review our <a href="https://lib.guides.umd.edu/accessspecialcollections">Accessing Special Collections Materials at UMD</a> guide.</p>
        </div>
		</div>
	</div>
</div>
