<div class="search-block">
  <div class="search-box">
    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    }%>
  </div>
</div>

<div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
		  <div class="headline">
			<h3>About our archival collections</h3>
          </div>
          <div class="bg-grey">
          <p>The University of Maryland Libraries collects and preserves archival and manuscript collections of groups and individuals. This database provides descriptions of many of these collections. Use this website to explore collections and request material for use from:</p>
			<ul>
				<li><a href="https://www.lib.umd.edu/special">Special Collections and University Archives</a></li>
				<li><a href="https://www.lib.umd.edu/scpa">Special Collections in the Performing Arts</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
		   <div class="headline">
			<h3>Requesting material</h3>
           </div>
             <div class="bg-grey">
				<p>Each finding aid contains a link to request material.
</p>
				<ul>
					<li>Identify items or boxes you wish to request</li>
					<li>Click the request button <br> - If you are requesting from the item level, you will be routed to the box, where you will be required to click the request button again</li>
					<li>Sign into your Special Collections Account</li>
					<li>Complete the request by checking the boxes and scheduling a date for your visit <br>
					- In many cases the collections are stored off-site and require advance notice for retrieval.
</li>
				</ul>
		     </div>
		</div>
	</div>
</div>
