<div class="container-fluid navbar-branding">
  <%# UMD Customization %>
  <h1>
    <img src="/assets/images/liblogo.png" alt="<%= I18n.t("brand.title") %>" style="padding-right:20px"/>
    ArchivesSpace
  </h1>
  <%# End UMD Customization %>
</div>
